:root {
    --blue: #3F67E9;
    --card-gradient: linear-gradient(251.28deg, rgba(98, 99, 196, 0.99) 0%, #DF5642 100%);
    --white: #fff;
    --black-text: #222222;
    --muted-text: #B3B9C2;
    --input-bg: #F0F1F3;
}