:root {
    --blue: #3F67E9;
    --white: #fff;
    --black-text: #222222;
    --muted-text: #B3B9C2;
    --input-bg: #F0F1F3;
    --nav-black: #353B50;
    --line-white: #EDEEEF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    padding: 0 calc(0.05 * 100vw);
    width: 100%;
}

.sm-show, section.nav-content {
    display: none;
}

header nav {
    display: flex;
    min-height: 2px;
    align-items: center;
    min-width: 2px;
    justify-content: flex-end;
    margin: 2.4em 0 4.5em 0;
}


header a {
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--nav-black);
    cursor: pointer;
    letter-spacing: 0.8px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: var(--blue);
}

nav>* {
    margin-left: 3.6em;
}
nav img {
    height: 3.2em;
}

div.line {
    width: 100%;
    height: 1px;
    background-color: var(--line-white);
}

section.section {
    margin: 2.4em 0 0.5em 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h2 {
    color: var(--black-text);
    line-height: 1.8em;
}

p {
    font-size: 0.9em;
    letter-spacing: 0.9px;
    font-weight: 400;
}

.left>p {
    color: var(--muted-text);
}

section.section .left {
    width: 40%;
}

section.section .right {
    width: 47%;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    min-height: 2px;
    align-items: center;
}

.logos img {
    margin-left: 1em;
}



@media (max-width: 860px) {
    .sm-show, .hamburger {
        display: flex;
    }
    nav.sm-none {
        display: none;
    }
    .sm-show {
        margin: 1.2em 0 1.2em 0;
    }
    nav.sm-show {
        justify-content: space-between;
    }
    .hamburger {
        flex-direction: column;
        padding: 1em 0;
        margin-left: 0;
    }
    .hamburger>div {
        background-color: var(--nav-black);
        width: 26px;
        height: 1px;
    }
    .hamburger>div:nth-child(2) {
        margin-left: 5px;
        margin-top: 8px;
    }
    .hamburger>div:nth-child(3) {
        margin-left: 10px;
        margin-top: 8px;
    }
    section.nav-content {
        display: none;
        background-color: var(--white);
        box-shadow: 10px 0px 20px rgba(0,0,0,0.1);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        padding: 1em 0;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes openMenu {
        from {left: -20em;}
        to {left: 0;}
    }

    @keyframes closeMenu {
        from {left: 0em;}
        to {left: -20em;}
    }
    section.nav-content a {
        text-transform: capitalize;
        outline: none;
        font-weight: 400;
        padding: 1.6em 2em;
        border-radius: 0 50px 50px 0;
    }

    section.nav-content div:nth-child(2) a {
        margin-top: 3.6em;
    }
    section.nav-content a:hover {
        background-color: var(--input-bg);
    }

    a{
        -webkit-tap-highlight-color: transparent;
    }

    section.nav-content .times {
        position: absolute;
        right: 34px;
        font-size: 2em;
        font-weight: 400;
    }

    section.section {
        display: block;
    }
    section.section .left {
        width: 100%;
    }
    
    section.section .right {
        width: 100%;
    }
}